* {
    padding: 0;
    text-decoration: none;
    top: 0;
}

:root {
    --branco: #fff;
    --roxo: #5E17EB;
    --grey: #111111;


    --colorHTML: #E34F26;
    --colorCSS: #1572B6;
    --colorJS: #F7DF1E;
    --colorPython: #3776AB;
    --colorReactNative: #61DAFB;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*inicio arrow sobre*/
.container_arrow_sobre{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 10rem;
}
.container_arrow_sobre i{
    cursor: pointer;
    font-size: 20px;
    transition: all ease .5s;
}
.container_arrow_sobre i:hover{
    color: var(--roxo);
    font-size: 25px;
    transform: rotate(180deg);
}
/*final arrow sobre*/


/*inicio arrow habilidades*/
.container_arrow_habilidades{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 20rem;
}
.container_arrow_habilidades i{
    cursor: pointer;
    font-size: 20px;
    transition: all ease .5s;
}
.container_arrow_habilidades i:hover{
    color: var(--roxo);
    font-size: 25px;
    transform: rotate(180deg);
}
/*final arrow habilidades*/

/*inicio arrow projetos*/
.container_arrow_projetos{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 40rem;
}
.container_arrow_projetos i{
    cursor: pointer;
    font-size: 20px;
    transition: all ease .5s;
}
.container_arrow_projetos i:hover{
    color: var(--roxo);
    font-size: 25px;
    transform: rotate(180deg);
}
/*final arrow projetos*/


/*inicio modal certificados*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*final modal certificados*/


