* {
    padding: 0;
    text-decoration: none;
    top: 0;
}

:root {
    --branco: #fff;
    --roxo: #5E17EB;
    --grey: #111111;


    --colorHTML: #E34F26;
    --colorCSS: #1572B6;
    --colorJS: #F7DF1E;
    --colorPython: #3776AB;
    --colorReactNative: #61DAFB;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}



/*=================================NAVBAR=============================*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
}

.navbar-links a.active {
    color: var(--roxo);
    font-weight: bold;
}

.navbar-logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/*=================================NAVBAR=============================*/




/*=================================HOME=============================*/
.home {
    display: flex;
    justify-content: space-between;
    padding: 35px 15rem;
    position: relative;
    top: 5rem;
    margin: 0 auto;
}

.itens_home {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.itens_home h1 {
    color: var(--roxo);
    font-size: 40px;
}

.itens_home p {
    color: var(--grey);
    font-weight: bold;
    position: relative;
    top: -2rem;
}

.itens_home p span {
    font-size: 25px;
    color: var(--roxo);
    font-weight: bold;
}

.itens_home .desc_home {
    font-size: 20px;
}

.btn_home {
    background-color: var(--roxo);
    border: 2px solid transparent;
    color: var(--branco);
    border-radius: 10px;
    padding: .7rem;
    cursor: pointer;
    position: relative;
    top: -1.5rem;
    font-weight: bold;
}

.container_img_home {
    display: flex;
    justify-content: space-between;
}

.icons_home {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 4rem;
    gap: .8rem;
    top: 50%;
    font-size: 22px;
}

.icons_home i {
    color: var(--grey);
    cursor: pointer;
}

.container_my_img {
    width: 100%;
    height: 100%;
}

.my_img {
    width: 300px;
    cursor: pointer;
}

/* Círculos flutuantes */
.floating-circles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--roxo);
    border-radius: 50%;
    animation: float 5s infinite linear;
    cursor: pointer;
    opacity: 0.7;
}

.circle:nth-child(1) {
    top: 10%;
    left: 5%;
    animation-duration: 8s;
}

.circle:nth-child(2) {
    top: 60%;
    left: 25%;
    animation-duration: 6s;
    background-color: var(--grey);
    display: none;
}

.circle:nth-child(3) {
    top: 13%;
    left: 50%;
    animation-duration: 7s;
    background-color: var(--grey);
    display: none;
}

.circle:nth-child(4) {
    top: 80%;
    left: 20%;
    animation-duration: 9s;
    display: none;
}

.circle:nth-child(5) {
    top: 30%;
    left: 90%;
    background-color: var(--grey);
    animation-duration: 10s;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-20px) translateX(20px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

/* Círculos flutuantes */
/*=================================HOME=============================*/


/*=================================sobremim=============================*/
.container_sobre_mim {
    background-color: #222121;
    border-radius: 10px;
    width: 90%;
    height: 600px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 22rem;
    flex-direction: column;
    margin-bottom: 5rem;
}

.nav_sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_sobre h4 {
    color: var(--branco);
    font-weight: 100;
    font-size: 30px;
    position: relative;
    left: 2.5rem;
}

.nav_sobre h4 span {
    color: var(--roxo);
    font-weight: bold;
    font-size: 40px;
}

.icon {
    border: 1px solid var(--branco);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    height: 22px;
    position: relative;
    left: 50rem;
    padding: .5rem;
}

.icon i {
    color: var(--branco);
}

.icon p {
    color: var(--roxo);
    position: relative;
    left: 1rem;
    font-weight: 300;
}

.itens_sobre_mim {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 35px 10rem;
    gap: 5rem;
    position: relative;
    top: -1rem;
}

.txt_desc {
    color: #8b8b8b;
    width: 400px;
}

.experiencia {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.experiencia .exp {
    text-align: center;
}

.exp p {
    color: var(--branco);
    font-weight: bold;
}

p.txt_exp {
    font-weight: 100;
    color: #8b8b8b;
}

.icons_sobre_mim {
    display: flex;
    position: relative;
    top: 4rem;
    gap: 1rem;
}

.icons_sobre_mim i {
    background-color: var(--roxo);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    color: var(--branco);
    border: 1px solid var(--branco);
    transition: all ease .5s;
}

.icons_sobre_mim i:hover {
    opacity: 0.5;
}

/*=================================sobremim=============================*/


/*=================================habilidades=============================*/
.habilidades {
    display: flex;
    justify-content: space-between;
    padding: 35px 12rem;
    position: relative;
    top: 30rem;
    margin: 0 auto;
}

.desc_habilidades {
    display: flex;
    text-align: start;
    flex-direction: column;
}

.desc_habilidades h1 {
    font-size: 40px;
}

.desc_habilidades h1 span {
    font-weight: bold;
    color: var(--roxo);
}

.desc_habilidades p {
    color: #8b8b8b;
}

.img_desc_habilidades {
    position: relative;
    right: 50%;
    width: 180%;
}

.img_desc_habilidades img {
    width: 100%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.icons_habilidades_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    left: 5rem;
}

.icons_habilidades_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    left: 5rem;
    top: 2rem;
}

.icon_habilidades i {
    font-size: 70px;
    color: #646262;
}

.icon_habilidades {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    /* Espaçamento entre os ícones */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombras */
    border-radius: 10px;
    padding: 2rem;
    width: 100px;
    height: 100px;
    transition: all ease .5s;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.icon_habilidades:hover {
    border-bottom: 3px solid var(--roxo);
    border-right: 3px solid var(--roxo);
}

.collumn_1 {
    display: flex;
    gap: 3rem;
}

.collumn_2 {
    display: flex;
    gap: 3rem;
}

.collumn_3 {
    display: flex;
    gap: 3rem;
}

.icon_habilidades .php {
    color: #646262;
    transition: color 0.5s;
}

.icon_habilidades:hover .php {
    color: #777BB4;
    transform: rotate(360deg);
    transition: all ease .5s;
}

.icon_habilidades .fa-python {
    color: #646464;
    transition: .5s;
}

.icon_habilidades:hover .fa-python {
    color: #3776AB;
    transform: rotate(360deg);
    transition: all ease .5s;
}

.icon_habilidades .fa-js {
    color: #646464;
    transition: .5s;
}

.icon_habilidades:hover .fa-js {
    color: #F7DF1E;
    transform: rotate(360deg);
    transition: all ease .5s;
}

.icon_habilidades .fa-css3-alt {
    color: #646464;
    transition: .5s;
}

.icon_habilidades:hover .fa-css3-alt {
    color: var(--colorCSS);
    transform: rotate(360deg);
    transition: all ease .5s;
}

.icon_habilidades .fa-html5 {
    color: #646464;
    transition: .5s;
}

.icon_habilidades:hover .fa-html5 {
    color: var(--colorHTML);
    transform: rotate(360deg);
    transition: all ease .5s;
}

.icon_habilidades .fa-react {
    color: #646464;
    transition: .5s;
}

.icon_habilidades:hover .fa-react {
    color: var(--colorReactNative);
    transform: rotate(360deg);
    transition: all ease .5s;
}

/*=================================habilidades=============================*/


/*=================================certificados=============================*/
.container_certificados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px 12rem;
    position: relative;
    top: 30rem;
    margin: 0 auto;
}

.container_certificados h1 {
    text-align: center;
    font-size: 40px;
    color: var(--grey);
    font-weight: bold;
}

.container_certificados h1 span {
    color: var(--roxo);
}

.carousel_certificados {
    position: relative;
    top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

.card_carousel.active {
    display: flex;
}

.card_carousel {
    display: none;
    border: 2px solid transparent;
    width: 40%;
    padding: .2rem;
    border-radius: 5px;
    background-color: var(--grey);
    flex-direction: column;
}


.card_carousel h5 {
    font-size: 30px;
    color: var(--branco);
    text-align: center;
}

.card_carousel h5 span {
    color: var(--roxo);
}

.itens_certificados {
    position: relative;
    top: -1.5rem;
    text-align: center;
}

.itens_certificados p {
    font-size: 15px;
    font-weight: bold;
    color: var(--branco);
}

.itens_certificados p span {
    color: var(--roxo);
    font-size: 15px;
}

.arrow_certificado {
    background-color: var(--roxo);
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    width: 5%;
    height: 35px;
    display: flex;
    align-items: center;
}

.arrow_certificado i {
    color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text_certificado {
    display: none;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    right: 280%;
}

.arrow-left {
    width: 30px;
    height: 30px;
    background-color: var(--roxo);
    position: relative;
    right: 5rem;
    top: 10rem;
    cursor: pointer;
    clip-path: polygon(30% 0%, 100% 50%, 30% 100%, 0% 100%, 70% 50%, 0% 0%);
    transform: scaleX(-1);
    transition: all ease .5s;
}


.arrow-right {
    width: 30px;
    height: 30px;
    background-color: var(--roxo);
    position: relative;
    left: 5rem;
    top: 10rem;
    cursor: pointer;
    clip-path: polygon(30% 0%, 100% 50%, 30% 100%, 0% 100%, 70% 50%, 0% 0%);
}


/*=================================certificados=============================*/

/*=================================projetos=============================*/
.container_prj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px 12rem;
    position: relative;
    top: 45rem;
    margin: 0 auto;
    text-align: center;
}

.container_prj h1 {
    text-align: center;
    font-size: 40px;
    color: var(--grey);
    font-weight: bold;
}

.container_prj h1 span {
    color: var(--roxo);
}

.container_prj p {
    color: #646262;
    font-weight: bold;
    position: relative;
    top: -2rem;
}

.carousel_prj {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 5rem;
}

.card_prj {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.card_prj .div_img_prj {
    width: 50%;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 350px;
}

.div_img_prj img {
    width: 80%;
    border-radius: 8px;
}

.div_img_prj.serMae{
    background-color: var(--roxo);
}
.div_img_prj.buyCars {
    background-color: var(--grey);
}


.div_img_prj.rpsEsports {
    background-color: var(--grey);
}

.card_prj .itens_prj {
    text-align: start;
    position: relative;
    left: 5rem;
}

.itens_prj .txt_prj {
    color: var(--roxo);
    font-size: 25px;
    font-weight: bold;
}

.itens_prj .info {
    font-weight: bold;
    color: var(--grey);
}

.itens_prj .btn_prj {
    background-color: var(--roxo);
    padding: 1rem;
    text-align: center;
    color: var(--branco);
    border: transparent;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
}

.btn_prj i {
    font-size: 25px;
    position: relative;
    left: 1rem;
}

/* carousel */
#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    z-index: 1;
    position: relative;
    width: 100%;

}

.overflow {
    width: 110%;
    overflow: hidden;
    height: 130%;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

.inner {
    display: flex;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
}

.slide {
    width: 25%;
    flex: 1 0 25%;
    display: block;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

#controls {
    margin: -200px 0 0 0;
    width: 100%;
    height: 10px;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#controls .prev {
    position: relative;
    right: 7rem;
}

#controls .next {
    position: relative;
    left: 7rem;
}

#controls label {
    transition: opacity 0.2s ease-out;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--roxo);
}

#controls label:hover {
    opacity: 1;
}

#bullets {
    margin: 100px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--roxo);
    margin: 0 10px;
    position: relative;
    top: 8rem;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: var(--grey);
}